html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Heading";
  src: url("../fonts/Heading-Pro-Bold-trial.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Heading";
  src: url("../fonts/Heading-Pro-ExtraBold-trial.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Heading";
  src: url("../fonts/Heading-Pro-Heavy-trial.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Heading";
  src: url("../fonts/Heading-Pro-Light-trial.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Heading";
  src: url("../fonts/Heading-Pro-Thin-trial.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
* {
  pointer-events: none;
}

.home__home-btn,
.header__contact-btn,
.menu__img {
  pointer-events: auto;
}

.home-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.slide {
  transform: translateX(-100vw);
  transition: 1s;
}

.body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.home {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: "Heading";
  padding-top: 5vh;
  color: white;
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  overscroll-behavior: contain;
  z-index: 10;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.home__name {
  color: white;
  font-size: 10vw;
  font-weight: 200;
  letter-spacing: 10%;
}
.home__job {
  color: white;
  font-size: 8vw;
  font-weight: 100;
  letter-spacing: 10%;
}
.home__title {
  color: white;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: clamp(10px, 10vw, 80px);
  font-size: 100px;
  line-height: 80px;
  font-weight: 500;
  display: inline-block;
  transform: scaleX(1.5);
  word-wrap: break-word;
}
.home__home-btn {
  margin-top: 5vh;
  border-radius: 100px;
  background-color: #FF833E;
  height: 10%;
  width: 20vw;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
.home__btn-arrow {
  width: 60%;
  height: 70%;
}

.slide {
  transform: translateX(-100vw);
  transition: 1s;
}

.header {
  position: relative;
  background-color: white;
  height: 100px;
  z-index: -1;
  transform: translateX(100vw);
}
.header__programmer-img {
  position: fixed;
  left: 25%;
  width: 50%;
  z-index: 1;
  margin-top: -2%;
  pointer-events: none;
}
@media (max-width: 768px) {
  .header__programmer-img {
    width: 80vw;
    left: 9%;
  }
}
.header__contact-btn {
  position: fixed;
  z-index: 1;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  pointer-events: auto !important;
}
.header__contact-btn-img {
  pointer-events: none;
  display: block;
}

.menu {
  z-index: 10;
  position: fixed;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
  transform: translateX(-100vw);
  transition: 0.5s;
  text-align: right;
}
.menu__title {
  font-family: "Heading";
  font-weight: 500;
  font-size: 64px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  margin-top: 3vw;
  flex-wrap: wrap;
}
@media (max-width: 799px) {
  .menu__title {
    margin-top: 25vw;
  }
}
.menu__contact-btn {
  position: fixed;
  z-index: 1;
  top: 32px;
  right: 48px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  pointer-events: auto !important;
}
.menu__img-container {
  margin-top: 15vh;
  margin-left: auto;
  margin-right: auto;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.menu__img {
  cursor: pointer;
  margin-bottom: 50px;
  width: 200px;
}

.menu-unslide {
  transform: translateX(0);
  transition: 0.5s;
}

.main {
  margin-top: 30vw;
  position: relative;
  z-index: -1;
  color: lightgrey;
  background-color: black;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  font-family: "Heading";
  overflow: hidden;
  transform: translateX(100vw);
  opacity: 0;
}
.main__name {
  margin-top: 40px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: clamp(40px, 8vw, 100px);
  font-weight: 400;
  letter-spacing: 10%;
}
.main__job {
  margin-top: clamp(10px, 6vw, 20px);
  font-size: clamp(20px, 4vw, 50px);
  font-weight: 100;
  letter-spacing: 10%;
}
.main__h-line {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 1px;
  height: 68px;
  background-color: white;
}
.main__h-line:last-child {
  margin-bottom: 0;
  height: 45px;
}
.main__title {
  margin-top: 40px;
  font-size: 2vw;
  font-weight: 300;
  letter-spacing: 10%;
}
.main__about-text {
  color: lightgrey;
  font-weight: 100;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 40px;
  letter-spacing: 10%;
}
@media (max-width: 768px) {
  .main {
    margin-top: 50vw;
  }
}

.unslide {
  transform: translateX(0);
  opacity: 1;
  transition: 1s;
}

.skills {
  z-index: 2;
  background-color: #252525;
  color: white;
  font-family: "Heading";
  padding-bottom: 100px;
}
.skills__container {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: center;
  margin-right: 20px;
  margin-left: 20px;
  gap: 10vw;
}
@media (max-width: 799px) {
  .skills__container {
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
}
.skills__card {
  width: 20%;
}
.skills__card:nth-child(2) {
  text-align: center;
}
@media (max-width: 799px) {
  .skills__card:nth-child(2) {
    text-align: center;
  }
}
.skills__card:last-child {
  text-align: right;
}
@media (max-width: 799px) {
  .skills__card:last-child {
    text-align: center;
  }
}
@media (max-width: 799px) {
  .skills__card {
    width: 80%;
    margin-bottom: 60px;
  }
}
.skills__title {
  font-weight: 300;
  font-size: 3vw;
  min-height: 100px;
}
@media (max-width: 799px) {
  .skills__title {
    font-size: 10vw;
  }
}
.skills__description {
  letter-spacing: 10%;
  font-weight: 100;
  color: lightgrey;
}
@media (max-width: 799px) {
  .skills__description {
    font-size: 4vw;
  }
}
.skills__h-line {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 1px;
  height: 34px;
  background-color: white;
}
.skills__img {
  margin-bottom: 10px;
  width: 50%;
}

.unslide {
  transform: translateX(0);
  opacity: 1;
  transition: 1s;
}/*# sourceMappingURL=style.css.map */