
.header {
   position: fixed;
   background-color: white;
   height: 100px;
   z-index: 0;
   transform: translateX(100vw);
   
   &__programmer-img {
      
      margin-left: 25%;
      width: 50%;
      z-index: 1;
      margin-top: -2%;
      pointer-events: none; 
      @media (max-width: 768px) {
         width: 80vw;
         margin-left: 11%;
      }
      
   }

   &__contact-btn {
      transform: translateX(100vw);
      position: fixed;
      z-index: 1;    
      top: 20px;
      right: 20px;
      cursor: pointer;
      background: none;
      border: none;
      padding: 0;
      pointer-events: auto !important;  
      opacity: 0;
   }

   &__contact-btn-img {
      pointer-events: none;     
      display: block;
   }

   
}






