.home-bg{
   position: fixed;    
   top: 0;
   left: 0;
   width: 100vw;
   
   object-fit: cover;   
   z-index: -1;
}

.slide{
      
      transform: translateX(-100vw);
      transition: 1s;
      
   
   
}