
body{
   height: 100vh ;
   width: 100vw ;
   overflow: hidden ;
}
.home{
   position: fixed;
   background-color: rgba(0, 0, 0, 0.3);
   font-family: "Heading";
   padding-top: 5vh;
   color:white;
   width: 100vw;
   height: 100vh;
   text-align: center;
   overflow: hidden;
   overscroll-behavior: contain;
   z-index: 10;
   padding-bottom: 20px;

   display: flex;
   flex-direction: column;

   &__name{
      
      color:white;
      font-size: 10vw;
      font-weight: 200;
      letter-spacing: 10%;
      
   }

   &__job{
      color:white;
      font-size: 8vw;
      font-weight: 100;
      letter-spacing: 10%;
      
   }

   &__title{
      color:white;
      width: 65%;
      margin-left: auto;
      margin-right: auto;
      margin-top: clamp(10px,10vw,80px);
      font-size: 100px;
      line-height: 80px;
      font-weight: 500;
      display: inline-block;
      transform: scaleX(1.5); 
      word-wrap: break-word;
      
   }

   &__home-btn{
      margin-top: 5vh;
      border-radius: 100px;
      background-color: #FF833E;
      height: 10%;
      width: 20vw;
      cursor: pointer;
      margin-left: auto;
      margin-right: auto;
      
   }

   &__btn-arrow{
      width: 60%;
      height: 70%;
      
   }
}

.slide{
      
      transform: translateX(-100vw);
      transition: 1s;
      
   
   
}
