.menu{
   z-index: 0;
   position: fixed;
   
   width: 100vw;
   background-color: rgba(0, 0, 0, 0.95);
   
   color:white;
   transform: translateX(-100vw);
   transition: 0.5s;
   text-align: right;

   &__title{
      font-family: "Heading";
      font-weight: 500;
      font-size: 64px;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      text-align: center;
      margin-top: 3vw;
      flex-wrap: wrap;
      @media (max-width: 799px) {
         margin-top: 25vw;
      }
   }

   &__contact-btn {
      position: fixed;
      z-index: 1;    
      top: 32px;
      right: 48px;
      cursor: pointer;
      background: none;
      border: none;
      padding: 0;
      pointer-events: auto !important;  
   }

   &__img-container{
      margin-top: 15vh;
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
      display: flex;
      flex-direction: column;
   }

   &__img{
      margin-bottom: 50px;
      width: 200px;
      
   }

   
}

.menu-unslide{
   transform: translateX(0);
   transition: 0.5s;
   
}




